html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color-scheme: light dark;
    background-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #121212;
    }
}